{% extends 'header.html' %}

{%block content%}

    <!--Main box-->
   <div class="container-fluid mt-1">

        <!--First half of the screen-->
        <div class="row">

            <!--The part of the 'screen'-->
            <div class="col">
                
            </div>

            <!-- The showcase part -->
            <div class="col">
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="para-tab" data-bs-toggle="tab" data-bs-target="#para" 
                        type="button" role="tab" aria-controls="para" aria-selected="true">
                            Parameter
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="graph-tab" data-bs-toggle="tab" data-bs-target="#graph" 
                        type="button" role="tab" aria-controls="graph" aria-selected="false">
                            Graph
                        </button>
                    </li>
                
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="para-tab" role="tabpanel" aria-labelledby="para-tab">
                        {{tree}}
                    </div>

                    <div class="tab-pane fade" id="graph-tab" role="tabpanel" aria-labelledby="graph-tab">
                       test
                    </div>

                </div>

                
            </div>

        </div>

        <!--Second half of the screen-->
        <div class="row">
            <div class="col">
                <h4>
                    Explanation
                </h4>
            </div>
        </div>

   </div>
{%endblock%}