{% extends 'base.html' %}

{%block content%}

    <!--Main box-->
   <div class="container-fluid mt-1">

        <!--First half of the screen-->
        <div class="row">

            <!--The part of the 'screen'-->
            <div class="col">
                Test
            </div>

            <!-- The showcase part -->
            <div class="col">
                
                <ul class="nav nav-tabs">
                    
                    <li>
                        <a href="#">Para</a>
                    </li>

                    <li class="nav-items">
                        <a href="#">Code</a>
                    </li>

                    <li class="nav-items">
                        <a href="#">Graph</a>
                    </li>
                
                </ul>
                
            </div>

        </div>

        <!--Second half of the screen-->
        <div class="row">
            <div class="col">
                Test3
            </div>
        </div>

   </div>

{%endblock%}