{% extends 'base.html' %}

{%block content%}

    <!--Main box-->
   <div class="container-fluid mt-1">

        <!--First half of the screen-->
        <div class="row">

            <!--The part of the 'screen'-->
            <div class="col">
                
            </div>

            <!-- The showcase part -->
            <div class="col">
                
                <ul class="nav nav-tabs">
                    
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Parameters</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Tree Graph</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Code</a>
                    </li>
                
                </ul>
                
            </div>

        </div>

        <!--Second half of the screen-->
        <div class="row">
            <div class="col">
                <h4>
                    Explanation
                </h4>
            </div>
        </div>

   </div>

{%endblock%}