<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    </head>

    <body>
        
        <div class="navbar sticky-top bg-dark border-bottom border-body" data-bs-theme="dark">

            <div class="container-fluid">
                <!-- The main head -->
                <a class="navbar-brand h1" href="/">Simulation</a>


                <ul class="nav me-auto mb-lg-0">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/algorithms">
                            Algorithms
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                            <a class="dropdown-item"href="/algorithms/BFS"> BFS </a>
                            </li>

                        </ul>

                    </li>

                </ul>
                

                <!-- This is for the accounts -->
                <div class="d-flex align items center">
                    
                    <a href="https://github.com/yousefHalsayegh">
                        <img src="{{url_for('static', filename='Images/github.png')}}" alt="Github">
                    </a>
                
                    <a href="https://www.linkedin.com/in/yousefalsayegh/">
                        <img src="{{url_for('static', filename='Images/linkedin.png')}}" alt="Linkedin">
                    </a>
                
                    
                </div>
                
            </div>

        </div>
        
        {%block content %} {%endblock%}
        <script src="bootstrap.min.bundle.js"></script>
    </body>

</html>