{% extends 'header.html' %}


{%block content%}

        <div>
                <h1> About this Project</h1>
                <div>
                        This project aims to create a central hub that showcases the different algorthims in Artificial Intellegince (AI) and their use cases. 
                        This project will explain each algorithm and allow you to fine tune any parameters, look under the hood and understand better how everything tick.
                </div>
        </div>

        <div>
                <h1>Level of AIs</h1>

                <img src="{{url_for('static', filename='Images/levels.png')}}" alt="Levels">
        </div>

{%endblock%}